<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <button type="button"><a href="welcome">welcome</a></button>
        <button type="button"><a href="/">hello</a></button>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
